.button_container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 16px;
}

.button {
    background-color: #520FB7;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 700;
    font-family: Figtree;
    cursor: pointer;
}